.anrede
  Hallo
  = @account.contact.name_text + ','

%p
  Mit diesem Link kannst Du
  %strong Dein Kennwort zurücksetzen:
  %br
  = link_to 'Neu setzen', @password_reset_link

%p
  Vielen Dank und herzliche Grüsse,
  %br
  Team Organisator

