= form_with model: @message, class: 'inline' do |f|
  - if @message.errors.any?
    #error_explanation
      %h2= "#{pluralize(@message.errors.count, "error")} prohibited this message from being saved:"
      %ul
        - @message.errors.full_messages.each do |message|
          %li= message
        
      
    
  
  = f.hidden_field :receiver_type
  = f.hidden_field :receiver_id
  
  .field
    = f.label :content
    = f.text_area :content, rows: 5, placeholder: 'z.B. ich möchte dir etwas wichtiges mitteilen...'
  
  .actions
    = f.submit 'Save'
  

