.message_page
  %h1= @contact.name_text
  %p.sub_header
    = @contact.email
    = link_to image_tag( 'sym/envelope_w100.svg' ), new_contact_message_path( @contact ), remote: true, class: 'sym_button'
    
  
  .hilite_block#new_message
  
  = render 'general/tabs', contact: @contact, active_tab: 'message'
  
  %ul.messages_list
    - @messages.each do |message|
      %li= render 'preview', message: message
    
  

