%h1= @successful ? 'Danke' : 'Problem'

- if @successful
  %p
    Deine Bestätigung
    %strong war erfolgreich.
  
  %p
    Hier können wir mitteilen, was die nächsten Schritte sind... (tbd)
  
- else
  %p
    Der Link ist leider
    %strong nicht korrekt.
    %br
    Versuche bitte die Bestätigung nochmals.
  

