.membership_page
  %h1= @membership.contact.name_text
  %p.sub_header
    = @membership.contact.email
    = link_to image_tag( 'sym/envelope_w100.svg' ), new_contact_message_path( @membership.contact ), remote: true, class: 'sym_button'
    
  
  .hilite_block#new_message
  
  = render 'general/tabs', contact: @membership.contact, active_tab: 'membership'
  
  .membership_details
    .status{ class: @membership.status }
      = @membership.status
    
    %h1.membership_token
      = @membership.token
      .subtitle Mitgliedsnummer
    
    %h4 Persönliches
    %p
      Geschlecht:
      %strong= @membership.gender
      %br
      Geburtstag:
      %strong=l @membership.birth_on
    
    %h4 Adresse
    %p
      %strong= @membership.street_nr_text
      %br
      %strong= @membership.plz_city_text
    
    %h4 Mitgliedbeitrag
    %p
      Beitrag:
      %strong
        = number_to_currency @membership.fee_amount
        = Membership.human_attribute_name "fee_period.#{@membership.fee_period}"
        via
        = Membership.human_attribute_name "fee_mode.#{@membership.fee_mode}"
      
    
    - if @membership.direct_debit?
      %p
        Kontoinhaber:in:
        %strong= @membership.account_owner
        %br
        IBAN:
        %strong= @membership.iban
        
        %br
        Letzte Zahlung:
        - if @membership.last_payment_at
          %strong=l @membership.last_payment_at, format: :short_day
          
        - else
          %strong keine bisher
        
      
    
    - if @membership.member?
      %h4 Mitgliedschaft
    - else
      %h4 Aufnahme
    
    - unless @membership.other_memberships.blank?
      %p
        Andere Mitgliedschaften:
        %strong= @membership.other_memberships
      
    
    %p
      Empfehlung durch:
      %strong= @membership.recommendation
      %br
      Telefon:
      %strong= @membership.phone_nr
    
    %p
      - if @membership.member?
        Mitglied seit:
      - elsif @membership.accepted?
        Angenommen seit:
      - else
        Antrag gestellt am:
      
      %strong= l @membership.starts_at, format: :short_day
      - if @membership.ends_at
        %br
        Beendet am:
        %strong= l @membership.ends_at, format: :short_day
      
    
    .action_buttons
      - unless @membership.member? and h_is_admin?
        = link_to 'Aufnehmen', accept_membership_path( @membership ), method: :put, class: 'button', title: 'Als Mitglied aufnehmen'
    
      
      = link_to image_tag( 'sym/pencil_w100.svg' ), edit_membership_path( @membership ), class: 'sym_button', title: 'bearbeiten'
      = link_to image_tag( 'sym/bin_w100.svg' ), @membership, method: :delete, data: { confirm: "Willst Du die Mitgliedschaft für '#{@membership.contact.name_text}' wirklich löschen?\n\nDie Aktion kann nicht rückgängig gemacht werden." }, class: 'sym_button', title: 'löschen'
    
  

