%p.form_explanation
  Bitte melde Dich an oder
  = link_to 'registriere Dich', check_accounts_path
  neu:

= form_tag do
  .field
    = label_tag :login
    = text_field_tag :login, params[ :login ], placeholder: 'lisa.muster@organisator.org'
  
  .field
    = label_tag :password
    = password_field_tag :password, params[ :password ], placeholder: 'min. 9 Zeichen + Zahlen'
  
  .actions.clearfix
    = link_to 'Password vergessen?', request_password_accounts_path
    = submit_tag 'Login', |
          class: 'button float-right'
    
  

