- is_editable = false unless defined? is_editable
- cancel_action = capture do
  = link_to image_tag( 'sym/cross_w100.svg' ), "#", class: 'sym_button', data: { action: 'show_hide', sel: "#contentpart_#{contentpart.id}, #edit_contentpart_#{contentpart.id}", cpid: contentpart.id }

- # --- HTML Versions --------------------------

- if !contentpart.picture.attached?
  - if contentpart.kind == 'ul'
    .contentpart{ id: "contentpart_#{contentpart.id}", data: { cpid: contentpart.id } }
      %ul
        - contentpart.content.lines.each do |line|
          %li= h_format( line )
        
      
    
  - else
    = content_tag contentpart.tag_type, h_format( contentpart.content ), class: contentpart.klass, id: "contentpart_#{contentpart.id}", data: { cpid: contentpart.id }
  
- elsif contentpart.kind == 'sized_img'
  .contentpart{ id: "contentpart_#{contentpart.id}", data: { cpid: contentpart.id } }
    %p
      = image_tag contentpart.picture_article, size: contentpart.content
    
  
- elsif contentpart.kind == 'img'
  .contentpart.picture{ id: "contentpart_#{contentpart.id}", data: { cpid: contentpart.id } }
    = image_tag contentpart.picture_article
    - unless contentpart.content.blank?
      .caption= h_format contentpart.content
    
  
- elsif contentpart.kind == 'pdf'
  .contentpart.file{ id: "contentpart_#{contentpart.id}", data: { cpid: contentpart.id } }
    = link_to contentpart.picture do
      = image_tag 'pdf_icon.png', class: 'pdf_icon'
      - unless contentpart.content.blank?
        .file_info
          .name= contentpart.file_name
          .info= number_to_human_size contentpart.file_size
          .description= h_format contentpart.content
      
    
  

- if is_editable
  = render 'contentparts/form', contentpart: contentpart, initially_hidden: true, cancel_action: cancel_action

