- container = nil unless defined? container
- is_editable = false unless defined? is_editable

.page_content{ data: { editable: is_editable ? 'edit' : 'false' } }
  = render container.contentparts, is_editable: is_editable
  
  %p
    - if is_editable
      - cancel_action = capture do
        = link_to image_tag( 'sym/cross_w100.svg' ), "#", data: { action: 'show_hide', sel: "#new_contentpart, #new_contentpart_button", cpid: 'new' }, class: 'sym_button'
      
      = link_to image_tag( 'sym/plus_w100.svg' ), '#new_contentpart', id: 'new_contentpart_button', class: 'sym_button', data: { action: 'show_hide', sel: '#new_contentpart, #new_contentpart_button' }
      = render 'contentparts/form', contentpart: container.contentparts.build, initially_hidden: true, cancel_action: cancel_action
    
  

