.account_details
  .status{ class: @account.status }
    = account.status
  
  - if account.has_picture?
    = image_tag account.picture_preview, class: 'picture'
  - else
    = image_tag 'default_user.jpg', class: 'picture'
  
  
  %h4 Login
  %p
    Token:
    %strong= account.token
    %br
    Login:
    %strong= account.login
  
  %h4 Profilinfos
  %p
    Anzeigename:
    %strong= account.displayname
    %br
    Funktion:
    %strong= account.label
  
  %h4 Beschreibung
  %p= account.description

