.admin_page
  %h1= @account.name_text
  %p.sub_header
    = @account.contact.email
    = link_to image_tag( 'sym/envelope_w100.svg' ), new_contact_message_path( @account.contact ), remote: true, class: 'sym_button'
    
  
  .hilite_block#new_message
  
  = render 'general/tabs', contact: @account.contact, active_tab: 'account'
  
  .tab_view
    = render 'show', account: @account
    .action_buttons
      = link_to image_tag( 'sym/pencil_w100.svg' ), edit_admin_account_path( @account ), class: 'sym_button', title: 'bearbeiten'
      = link_to image_tag( 'sym/bin_w100.svg' ), admin_account_path( @account ), method: :delete, data: { confirm: "Willst Du den Account mit der E-Mail '#{@account.contact.email}' wirklich löschen?\n\nDie Aktion kann nicht rückgängig gemacht werden." }, class: 'sym_button', title: 'löschen'
      
    
  

