= form_for @decision do |f|
  - if @decision.errors.any?
    #error_explanation
      %h2=t( 'errors.template.header', model: I18n.t( "activerecord.models.decision.one" ), count: @decision.errors.count )
      %ul
        - @decision.errors.messages.each do |message|
          %li=t 'errors.format', message: message.last.first, attribute: I18n.t( "activerecord.attributes.decision.#{message.first}" )
        
      
    
  
  .field
    = f.label :title
    = f.text_field :title, placeholder: 'z.B. welche Farbe soll das Logo haben?'
  
  .field
    = f.label :description
    = f.text_area :description, placeholder: 'hier eine genauere Beschreibung der Fragestellung'
  
    
  .field
    = f.label :end_proposals_at
    = f.datetime_select :end_proposals_at
  
  .field
    = f.label :end_voting_at
    = f.datetime_select :end_voting_at
  
  .actions
    = cancel_action
    = f.submit
  

