= link_to decision, class: 'preview', id: decision.token do
  
  - if !decision.published?
    .date in Vorbereitung...
    
  - elsif decision.proposing?
    .date
      .status_badge.proposing Vorschläge
      bis
      =l decision.end_proposals_at, format: :very_short_day_time
    
  - elsif decision.voting?
    .date
      .status_badge.voting Abstimmen
      bis
      =l decision.end_voting_at, format: :very_short_day_time
    
  - else
    .date
      .status_badge.done Abgestimmt
      am
      =l decision.end_voting_at, format: :very_short_day_time
    
  
  .next_arrow
    = image_tag 'sym/angle_right_s25.svg'
  
  .title= decision.title
  .description= truncate decision.description, length: 240
  
  .infos
    - if decision.proposing?
      bisher
    
    - if decision.proposal_count > 0
      %strong.number.proposals= decision.proposal_count
      Vorschläge
      
    - else
      keine Vorschläge...
    
    - if decision.voting? or decision.done?
      &nbsp;&nbsp;
      - unless decision.done?
        bisher
      
      - if decision.voters_published.count > 0
        %strong.number.votes= decision.voters_published.count
        Stimmen
        
      - else
        keine Stimmen...
      
    
  

