- result_proposal = decision.winning_proposal
- other_proposals = decision.proposals.reject { |p| p == result_proposal }.sort_by { |p| p.votes_value }

- if result_proposal
  %section.result_section
    %header
      Ergebnis
      - if false
        .end_side= link_to 'alle zeigen...', result_decision_path( decision )
      
    
    .proposal_detail
      .title= result_proposal.title
      .description= result_proposal.description
      .result
        Konsens:
        %strong= result_proposal.votes_value
      
    
    #proposals_list
      %header.list_title
        Die
        = other_proposals.count
        weiteren Vorschläge
      
      %ul.proposals_list
        - other_proposals.each do |proposal|
          = render 'proposals/preview_done', proposal: proposal
        
      
    
  

