- h_title 'Entscheidungen'
- h_description( h_page_description_for 'decisions' )

%h1 Entscheidungen
%p
  Die Liste aller Entscheidungen, zu denen die
  - if current_account.has_membership?
    Mitglieder
  - else
    = link_to 'Mitglieder', '/mitglied_werden'
  
  der
  = h_orga_name
  Vorschläge erarbeiten und dann abstimmen.

- if h_is_user?
  %p
    = link_to 'Neue Entscheidung starten...', new_decision_path
  

%ul.decisions_list
  - @decisions.each do |decision|
    %li= render 'preview', decision: decision
  

