- h_page_title @decision.title
- h_description truncate( strip_tags( @decision.description ), length: 250 )

%article.decision_detail
  - unless @decision.published?
    .status= @decision.status
  
  %h1.title= @decision.title
  
  .action_buttons
    - if h_decision_editable?
      = link_to image_tag( 'sym/pencil_w100.svg' ),
            edit_decision_path( @decision ),
            class: 'sym_button', title: 'Entscheidung ändern'
      = link_to image_tag( 'sym/bin_w100.svg' ),
            @decision, method: :delete,
            class: 'sym_button', title: 'Entscheidung löschen'
    
  
  .description= @decision.description
  
  - if @decision.done?
    .date
      %strong
        Abgestimmt am
        =l @decision.end_voting_at, format: :very_short_day_time
      
    
  - else
    .date
      Vorschläge bis
      =l @decision.end_proposals_at, format: :very_short_day_time
    
    .date
      Abstimmen bis
      =l @decision.end_voting_at, format: :very_short_day_time
    
  

- if @decision.done?
  = render 'decisions/result_section', decision: @decision
  
- else
  = render 'decisions/proposals_section', decision: @decision

