= link_to article, class: 'preview', id: article.token do
  - if article.has_picture?
    = image_tag article.picture.picture_preview, class: 'picture'
  
  .date=l article.published_at, format: :short_day
  .title= article.title
  .description= article.description
  .more Mehr lesen... &rarr;

