- unless article.blank?
  .articles_teaser
    %h2
      Aktueller Artikel
      %span.link= link_to 'weitere'.html_safe, articles_path
    
    = link_to article, class: 'preview', id: article.token do
      - if article.has_picture?
        = image_tag article.picture.picture_preview, class: 'picture'
      
      - unless article.published?
        .status= article.status
      
      .title= article.title
      .date=l article.published_at, format: :short_day
      .next_arrow
        = image_tag 'sym/angle_right_s25.svg'
      
      .description= article.description
    
  

