- h_title 'Blog'
- h_description( h_page_description_for 'articles' )

%h1 Blog

- if h_is_user?
  %p
    = link_to 'Neuer Artikel...', new_article_path
  

%ul.articles_list
  - @articles.each do |article|
    %li= render 'preview', article: article
  

