- h_page_title @article.title
- h_description truncate( strip_tags( @article.description ), length: 250 )
- if @article.has_picture?
  - h_image full_url_for( @article.picture.picture_twitter )


%article.article_detail
  - unless @article.published?
    .status= @article.status
  
  .date=l @article.published_at
  .author
    von
    - if h_page_accessible? 'accounts'
      = link_to @article.author.displayname, @article.author
      
    - else
      = @article.author.displayname
    
  
  %h1.title= @article.title
  
  .action_buttons
    - if h_can_publish?
      = link_to 'Freigeben', publish_article_path( @article ), method: :put, class: 'button'
    
    - if h_article_editable?
      = link_to image_tag( 'sym/pencil_w100.svg' ),
            edit_article_path( @article ),
            class: 'sym_button', title: 'Artikel ändern'
      = link_to image_tag( 'sym/bin_w100.svg' ),
            @article, method: :delete,
            class: 'sym_button', title: 'Artikel löschen'
    
  
  .description= @article.description
  
  .article_content{ data: { editable: h_article_editable? ? 'edit' : 'false' } }
    = render @article.contentparts, is_editable: h_article_editable?
    
    %p
      - if h_article_editable?
        - cancel_action = capture do
          = link_to image_tag( 'sym/cross_w100.svg' ), "#", data: { action: 'show_hide', sel: "#new_contentpart, #new_contentpart_button", cpid: 'new' }, class: 'sym_button'
        
        = link_to image_tag( 'sym/plus_w100.svg' ), '#new_contentpart', id: 'new_contentpart_button', class: 'sym_button', data: { action: 'show_hide', sel: '#new_contentpart, #new_contentpart_button' }
        = render 'contentparts/form', contentpart: @article.contentparts.build, initially_hidden: true, cancel_action: cancel_action
      
    
  

