- cancel_action = nil unless defined? cancel_action

= form_tag test_newsletter_path( newsletter ), id: 'test_newsletter', class: 'initially_hidden' do |f|
  - if newsletter.errors.any?
    #error_explanation
      %h2= "#{pluralize(newsletter.errors.count, "error")} prohibited this newsletter from being saved:"
      %ul
        - newsletter.errors.full_messages.each do |message|
          %li= message
        
      
    
  
  .field
    = label_tag :addresses, 'E-Mail Adressen der Test-Empfänger'
    .help
      Mehrere möglich, mit Leerzeichen trennen. Die Adressen
      %strong müssen schon vorhanden sein
      als Kontakte.
    
    = text_field_tag :addresses, nil, placeholder: 'z.B. lisa@organisator.org'
  
  .actions
    = cancel_action
    = submit_tag 'Senden'
  

