- h_page_title 'Newsletter abonnieren'
- h_description 'Hier kannst du den Newsletter von Organisator abonnieren'

- cancel_action = capture do
  = link_to 'Abbrechen', newsletters_path, class: 'button'

%h1 Neuer Newsletter
%p
  Hier kannst du einen neuen Newsletter erstellen.

= render 'form', cancel_action: cancel_action
