- h_page_title "Newsletter vom #{I18n.l @newsletter.send_at}"
- h_description truncate( strip_tags( @newsletter.content ), length: 250 )

%h1
  Newsletter
  .subtitle
    von
    =l @newsletter.send_at
  

- if h_newsletter_editable?
  .action_buttons
    = link_to image_tag( 'sym/pencil_w100.svg' ),
          edit_newsletter_path( @newsletter ),
          class: 'sym_button', title: 'Newsletter ändern'
    = link_to image_tag( 'sym/envelope_w100.svg' ), '#test_newsletter', id: '#test_newsletter_button', class: 'sym_button', title: 'Sende einen Test-Newsletter...', data: { action: 'show_hide', sel: '#test_newsletter' }
    - if @newsletter.new?
      = link_to 'ready for mailing',
            ready_newsletter_path( @newsletter ),
            method: :put,
            class: 'button tiny'
    
  
  = render 'form_test', newsletter: @newsletter

%article.newsletter_detail{ class: @newsletter.status }
  - if !@newsletter.public? or h_is_team_member?
    .status= @newsletter.status_text
  
  = render 'layouts/mailer_header'

  .main_newsletter
    = render 'newsletter_salutation_teaser', newsletter: @newsletter, name_text: '«Hanna Musterfrau»'
    
    .newsletter_content{ data: { editable: h_newsletter_editable? ? 'edit' : 'false' } }
      = render @newsletter.contentparts, is_editable: h_newsletter_editable?
    
    - if h_newsletter_editable?
      .action_buttons
        = link_to image_tag( 'sym/plus_w100.svg' ), '#new_contentpart', id: 'new_contentpart_button', class: 'sym_button', title: 'Neuen Inhalt anhängen', data: { action: 'show_hide', sel: '#new_contentpart, #new_contentpart_button' }
      
      = render 'contentparts/form', contentpart: @newsletter.contentparts.build, initially_hidden: true
    
    %br
    = render 'articles/list_preview_mail', newsletter: @newsletter
    
    = render 'events/list_preview_mail', newsletter: @newsletter
    
    = render 'newsletter_storno', storno_url: unsubscribe_contact_url( Contact.first, ato: Contact.first.id_hash )
  
  = render 'layouts/mailer_footer'

