.badge_cell
  - if contact.offers_help?
    .badge.offers_help{ title: 'bietet Hilfe' } H
  
  - if contact.membership
    .badge.membership{ class: contact.membership.status, title: h_badge_membership_title( contact ) }= contact.membership.member? ? 'M' : 'A'
  
  - if contact.wants_news?
    .badge{ title: 'Newsletter-Abo' } N
  

