%p#notice= notice

%p
  %b Token:
  = @argument.token
%p
  %b Status:
  = @argument.status
%p
  %b Account:
  = @argument.account
%p
  %b Proposal:
  = @argument.proposal
%p
  %b Title:
  = @argument.title
%p
  %b Description:
  = @argument.description

= link_to 'Edit', edit_argument_path(@argument)
\|
= link_to 'Back', arguments_path
