= form_for @registration do |f|
  - if @registration.errors.any?
    #error_explanation
      %h2= I18n.t( 'errors.template.header', model: I18n.t( "activerecord.models.registration.one" ), count: @registration.errors.count )
      %ul
        - @registration.errors.messages.each do |message|
          %li= I18n.t 'errors.format', message: message.last.first, attribute: I18n.t( "activerecord.attributes.registration.#{message.first}" )
        
      
    
  
  = f.hidden_field :event_id
  
  = render 'contacts/subform_registration', form: f, contact: @registration.contact
  
  .field
    = f.label :plz, 'PLZ*'
    = f.text_field :plz
  
  .field
    = f.label :city, 'Wohnort*'
    = f.text_field :city
  
  .field
    = f.label :emergency_nr, 'Notfallnummer (Telefon)*'
    = f.text_field :emergency_nr, placeholder: 'z.B. +49 170 123 45 67'
  
  .field
    = f.check_box :accepts_storage
    = f.label :accepts_storage do
      Ich stimme der Speicherung meiner Daten gemäss der
      = link_to 'Verordnung des Sozialministeriums zur Eindämmung von Übertragungen des Corona-Virus auf Veranstaltungen', 'https://www.baden-wuerttemberg.de/corona-verordnung'
      zu. Meine Daten werden 4 Wochen nach der Veranstaltung gelöscht und nicht zu anderen Zwecken verwendet
    
  
  .field
    = f.label :requests, 'Spezielle Wünsche'
    = f.text_area :requests, placeholder: 'z.B. Übernachtungswunsch, Allergien, etc.', rows: 3, maxlength: 250
  
  .actions
    = cancel_action
    = f.submit 'Save'
  

