- cancel_action = capture do
  = link_to 'Abbrechen', events_path, class: 'button'


%h1 Neue Anmeldung
%p
  Hier kannst du dich für den Termin
  %span.event_name= @registration.event.title
  anmelden.

= render 'form', cancel_action: cancel_action
