.anrede
  Willkommen,
  = @contact.name_text

%p
  %strong Herzlich willkommen,
  wir haben dich als Mitglied aufgenommen.

- if @contact.wants_news?
  %p
    Wir schicken Dir gerne unseren
    %strong Newsletter
    zu. Der kommt unregelmässig, immer dann, wenn es etwas substanziell Neues gibt. Wenn du mehr möchtest, kannst du uns auch auf
    = link_to 'Twitter', 'https://twitter.com/KlimalisteBW'
    oder
    = link_to 'Instagram', 'https://instagram.com/KlimaslisteBW'
    folgen.
  

- if @contact.offers_help?
  %p
    Danke auch für dein
    %strong Hilfe-Angebot.
    %br
    Vielleicht kannst du uns in einer Antwort kurz schildern, was du gut kannst oder gerne tust oder wo du dir vorstellen kannst, dass du uns unterstützen könntest.
  
  %p
    Da wir bisher noch wenige Aktive sind, wird es ein bisschen dauern, bis jemand auf dich zukommt. Wir melden uns aber, versprochen.
  
%p
  Um deine Mitgliedschaft zu bestätigen,
  %strong klicke bitte
  folgenden Link:
  %br
  = link_to @confirmation_link, @confirmation_link

%p
  Vielen Dank nochmals und
  %br
  herzliche Grüsse,

%p
  Team Klimaliste BW

