= form_for @event do |f|
  - if @event.errors.any?
    #error_explanation
      %h2= I18n.t( 'errors.template.header', model: I18n.t( "activerecord.models.event.one" ), count: @event.errors.count )
      %ul
        - @event.errors.messages.each do |message|
          %li= I18n.t 'errors.format', message: message.last.first, attribute: I18n.t( "activerecord.attributes.event.#{message.first}" )
        
      
    
  
  .field
    = f.label :title, 'Titel*'
    = f.text_field :title, placeholder: 'z.B. Vortrag Klimakrise'
  
  .field
    = f.label :starts_at, 'Beginn'
    = f.datetime_select :starts_at
  
  .field
    = f.label :length, 'Dauer'
    = f.select :length, Event.select_length
  
  .field
    = f.label :description, 'Beschreibung'
    = f.text_field :description, placeholder: 'z.B. das wichtigste in max. 250 Zeichen'
  
  .field
    = f.label :location, 'Ort'
    = f.text_field :location, placeholder: 'z.B. 71670 Ludwigsburg'
  
  .field
    = f.label :details
    = f.text_area :details, rows: 3, placeholder: 'z.B. die vollständige Beschreibung des Termins'
  
  .field
    = f.label :url, 'Link zu Website (URL)'
    = f.text_field :url, placeholder: 'z.B. https://ludwigsburg.de/veranstaltungen'
  
  .actions
    = cancel_action
    = f.submit
  

