- if event
  .events_teaser
    %h2
      Nächster Termin
      %span.link= link_to 'weitere'.html_safe, events_path
    
    .event_entry
      .time=l event.starts_at, format: :short
      .title= event.title
    
  

