- h_title 'Terminkalender'
- h_description( h_page_description_for 'events' )

%h1 Terminkalender

- if h_is_team_member?
  %p
    = link_to 'Neuer Termin...', new_event_path
  

- if @events.blank?
  %p ...keine aktuellen Termine geplant.
  
- else
  %ul.events_list
    - @events.each do |event|
      %li= render 'preview', event: event
    
  

