- h_page_title @event.title
- h_description truncate( strip_tags( @event.description ), length: 250 )

%article.event_detail
  .date= @event.starts_at_text
  
  %h1.title= @event.title
  
  .action_buttons
    - if h_event_editable?
      = link_to image_tag( 'sym/pencil_w100.svg' ),
            edit_event_path( @event ),
            class: 'sym_button', title: 'Artikel ändern'
      = link_to image_tag( 'sym/bin_w100.svg' ),
            @event, method: :delete, data: { confirm: "Willst Du den Termin mit dem Titel '#{@event.title}' wirklich löschen?\n\nDie Aktion kann nicht rückgängig gemacht werden." }, class: 'sym_button', title: 'Artikel löschen'
    
  
  .description= @event.description
  .location= @event.location
  .details= @event.details
  
  - unless @event.url.blank?
    .link
      Mehr Infos:
      %br
      = link_to nil, @event.url, target: '_blank'
    
  
  - if @event.registration_enabled?
    .action_buttons
      - if @event.registration_possible?
        = link_to 'Anmelden', new_event_registration_path( @event ), class: 'button'
        %span.hint_text
          Noch
          = @event.remaining_registrations
          Mal möglich
        
      - elsif @event.sold_out?
        %span Ausgebucht!
        
      - elsif @event.registration_not_started?
        %span
          Anmeldung beginnt
          =l @event.registration_starts_at, format: :very_short_day
        
      - elsif @event.registration_passed?
        %span Anmeldung nicht mehr möglich.
      
    
  

