= form_for @page do |f|
  - if @page.errors.any?
    #error_explanation
      %h2= "#{pluralize(@page.errors.count, "error")} prohibited this page from being saved:"
      %ul
        - @page.errors.full_messages.each do |message|
          %li= message
        
      
    
  
  .field
    = f.label :status
    = f.select :status, Page::STATUS.collect { |s| [ I18n.t( "activerecord.attributes.page.status.#{s}" ), s ] }
  
  .field
    = f.label :parent_id
    = f.collection_select :parent_id, Page.all, :id, :path, include_blank: 'keine'
  
  .field
    = f.label :path
    = f.text_field :path
    .help Ohne führenden Slash bzw. Schrägstrich
    
  
  .field
    = f.label :title
    = f.text_field :title
  
  .field
    = f.label :menu
    = f.text_field :menu
  
  .field
    = f.label :position
    = f.text_field :position
  
  .field
    = f.label :description
    = f.text_area :description, rows: 5, placeholder: 'z.B. Meta-Information zur Seite, die bei Social Media Exzerpten eingeblendet werden sollen'
  
  .actions
    = cancel_action
    = f.submit
  

