%li
  = link_to edit_page_path( page ), class: 'preview', id: page.iid do
    .status= page.status
    .next_arrow
      = image_tag 'sym/angle_right_s25.svg'
    
    .menu{ title: 'Im Menu sichtbar als' }
      .badge{ title: 'Position in Reihenfolge der Seiten' }= page.position
      - if page.menu.blank?
        %em kein Menu-Eintrag
      - else
        %span= page.menu
      
    
    .path
      Lokale URL:
      = "/#{page.path}"
    
    - if page.title.blank?
      .path keine selbst bearbeitbare Seite
      
    - else
      .title{ title: 'Titel der Seite' }= page.title
    
    .description= page.description
  
  - unless page.pages.blank?
    %ul.sub_pages_list
      = render partial: 'pages/page_preview', collection: page.pages, as: :page
    
  

