%li
  = link_to edit_page_path( page ), class: 'preview page_preview', id: page.iid do
    .next_arrow
      = image_tag 'sym/angle_right_s25.svg'
    
    .menu{ title: 'Im Menu sichtbar als' }
      - if page.menu.blank?
        %em kein Menu-Eintrag
      - else
        %span= page.menu
      
    
    - if page.title.blank?
      .path keine spezieller Titel
      
    - else
      .title{ title: 'Titel der Seite' }= page.title
    
    .description= page.description
  

