%h1 Seiten

%p Hier kannst du neue allgemeine Seiten für die Website anlegen oder existierende bearbeiten.
%p= link_to 'Neue Seite erzeugen', new_page_path

%ul.pages_list
  %li.preview.example
    .status Beispiel
    .menu{ title: 'Im Menu sichtbar als' }
      .badge{ title: 'Position in Reihenfolge der Seiten' } X
      %span Menu-Eintrag der Seite
    
    .path
      Lokale URL:
      = '/dieser/pfad/zur/seite'
    
    .title{ title: 'Titel der Seite' } Mein Seitentitel
    .description Beschreibung der Seite. Wird vor allem bei Link-Auszügen mitgeliefert, also bei Social Media Referenzen.
  
  = render partial: 'page_preview', collection: @pages, as: :page

