%p
  %strong Organisator
  ist eine generelle Web Plattform für Organisationen.

= render 'articles/teaser', article: Article.published.latest

%p.list_title
  Sie bietet Funktionalität für

%ul
  %li statische Seiten
  %li blogähnliche Artikel
  %li Termine in einem Kalender
  %li Aufnahme von Mitgliedern mit Zugang
  %li Registrierung für Newsletter und Versand

= render 'events/teaser', event: Event.upcoming.first

%p
  Die Plattform basiert technisch auf
  = link_to 'RubyOnRails', 'https://rubyonrails.org'
  %br
  Funktionen werden mit den Rails Standardmechanismen umgesetzt und als Blanko-WebApp angeboten um eine Modifikation für spezifische Organisationen so einfach, wie möglich zu machen.

%p
  Viele dieser Funktionen sind noch nicht fertig implementiert.

%p
  Mach mit, abonniere unseren Newsletter oder folge uns auf Twitter oder Instagram
  %br
  = link_to 'Abonnieren', new_contact_path, class: 'button'
  = link_to image_tag( 'sym/twitter_logo.svg', size: '24x23' ), 'https://twitter.com/organisator', class: 'sym_button'
  = link_to image_tag( 'sym/instagram_logo.svg', size: '23x23' ), 'https://www.instagram.com/organisator/', class: 'sym_button'

