- h_page_title @page.title
- h_description truncate( strip_tags( @page.description ), length: 250 )
- if @page.has_picture?
  - h_image url_for( @page.picture.picture_twitter )


%article.page_detail
  - unless @page.published?
    .status= @page.status
  
  - if @page.title.blank?
    = render template: "pages/#{@page.partial_name}"
    
  - else
    %h1.title= @page.title
    
    = render 'contentparts/content_block', container: @page, is_editable: h_page_editable?
  

