- cancel_action = nil unless defined? cancel_action

= form_for @contact do |f|
  - if @contact.errors.any?
    #error_explanation
      %h2= I18n.t( 'errors.template.header', model: I18n.t( "activerecord.models.contact.one" ), count: @contact.errors.count )
      %ul
        - @contact.errors.messages.each do |message|
          %li= I18n.t 'errors.format', message: message.last.first, attribute: I18n.t( "activerecord.attributes.contact.#{message.first}" )
        
      
    
  
  - if @contact.new_record?
    = render 'field_email', f: f
    
    .field
      = f.label :first_name, 'Vorname'
      = f.text_field :first_name, placeholder: 'z.B. Lisa'
    
    .field
      = f.label :last_name, 'Nachname'
      = f.text_field :last_name, placeholder: 'z.B. Muster'
    
  
  .field
    = f.label :plz, 'PLZ'
    = f.text_field :plz, placeholder: 'z.B. 12345'
    = render 'general/plz_help'
  
  .field
    = f.check_box :read_privacy
    = f.label :read_privacy do
      Ich habe die
      = link_to 'Hinweise zum Datenschutz', datenschutz_path
      gelesen
  
  .field
    = f.check_box :wants_news
    = f.label :wants_news, "Ich möchte den Newsletter abonnieren"
  
  .field
    = f.check_box :offers_help
    = f.label :offers_help, "Ich helfe gerne mit, sprecht mich an."
  
  .field
    = f.check_box :wants_form, data: { action: 'checkbox_switch', sel: '#address_block' }
    = f.label :wants_form, "Bitte sendet mir auch Post."
  
  #address_block.initially_hidden
    .field
      = f.label :street
      = f.text_field :street, placeholder: 'z.B. Hauptstraße'
    
    .field
      = f.label :housenr
      = f.text_field :housenr, placeholder: 'z.B. 16/A'
    
    .field
      = f.label :plz, 'PLZ'
      = f.text_field :plz, placeholder: 'z.B. 12345'
    
    .field
      = f.label :city
      = f.text_field :city, placeholder: 'z.B. Hintertupfingen'
    
  
  .actions
    = cancel_action
    = f.submit
  

