- cancel_action = nil unless defined? cancel_action

= form_for @contact do |f|
  - if @contact.errors.any?
    #error_explanation
      %h2= I18n.t( 'errors.template.header', model: I18n.t( "activerecord.models.contact.one" ), count: @contact.errors.count )
      %ul
        - @contact.errors.messages.each do |message|
          %li= I18n.t 'errors.format', message: message.last.first, attribute: I18n.t( "activerecord.attributes.contact.#{message.first}" )
        
      
    
  
  .field
    = f.label :email, 'E-Mail'
    = f.email_field :email, placeholder: 'z.B. lisa.muster@posteo.de'
  
  .field
    = f.label :first_name, 'Vorname'
    = f.text_field :first_name, placeholder: 'z.B. Lisa'
  
  .field
    = f.label :last_name, 'Nachname'
    = f.text_field :last_name, placeholder: 'z.B. Muster'
  
  .field
    = f.label :plz, 'PLZ'
    = f.text_field :plz, placeholder: 'z.B. 12345'
  
  .field
    = f.check_box :wants_news
    = f.label :wants_news, "Newsletter abonniert"
  
  .field
    = f.check_box :offers_help
    = f.label :offers_help, "bietet Hilfe an"
  
  .actions
    = cancel_action
    = f.submit
  

