- target = contact.membership ? contact.membership : contact

= link_to target, class: 'contact_preview' do
  .label
    .email= contact.email
    .name= contact.name_text
  
  = render 'general/badge_cell', contact: contact
  
  .angle= image_tag 'sym/angle_right_s25.svg'

