- if contact.account == current_account
  %h4 Deine Kontaktdaten
- else
  %h4 Kontaktdaten

%p
  Name:
  %strong= contact.name_text
  %br
  
  E-Mail:
  %strong= contact.email
  - if contact.confirmed?
    = image_tag 'sym/tick_mark.svg', size: '20x20'
  
  - if contact.plz
    %br
    PLZ
    %strong= contact.plz
  

%p
  - if contact.wants_news?
    %strong will Newsletter
    %br
  
  - if contact.offers_help?
    %strong bietet Hilfe an
  

