- logger.debug "> subform_registration - #{form} - #{contact}"

= form.fields_for :contact, contact do |f|
  = render 'contacts/field_email', f: f
  
  .field
    = f.label :first_name, 'Vorname*'
    = f.text_field :first_name, placeholder: 'z.B. Lisa'
  
  .field
    = f.label :last_name, 'Nachname*'
    = f.text_field :last_name, placeholder: 'z.B. Muster'
  
  .field
    = f.check_box :read_privacy
    = f.label :read_privacy do
      Ich habe die
      = link_to 'Hinweise zum Datenschutz', datenschutz_path
      gelesen
  
  .field
    = f.check_box :wants_news
    = f.label :wants_news, "Ich möchte den Newsletter abonnieren und über weitere Veranstaltungen zum Klimaschutz im Landkreis LB informiert werden"
  

