%h1= @successful ? 'Danke' : 'Problem'

- if @successful
  %p
    Deine Bestätigung
    %strong war erfolgreich.
  
  %p
    Der nächste Newsletter geht auch an Dich. Vielen Dank für Dein Interesse.
  
- else
  %p
    Der Link ist leider
    %strong nicht korrekt.
    %br
    Versuche Die die Bestätigung nochmals. Kann es sein, dass der Link abgeschnitten oder falsch umgebrochen war?
  

