%h1 Alle Kontakte

%ul.letters_list
  %li= link_to 'all', contacts_path
  
  - @letters.each do |letter|
    - the_letter = letter.letter.capitalize
    - the_letter = '*' if letter.letter.blank?
    
    %li= link_to the_letter, contacts_path( letter: the_letter )
  

- if @contacts.blank?
  .list_title= pluralize Contact.count, 'Kontakte'
  %ul.info_list
    %li= "davon #{Contact.fresh.count} unbestätigt"
    %li= "#{Contact.wants_news.count} wollen Newsletter"
    %li= "#{Contact.offers_help.count} bieten Hilfe an"
  

- else
  %ul.contacts_list
    - @contacts.each do |contact|
      %li= render 'preview', contact: contact
    
  

