- h_title 'In Kontakt bleiben'
- h_description 'Hier kannst Du uns schreiben, Unterstützung anbieten, Dich für unseren Newsletter eintragen und bist immer als Erstes informiert.'
- # --------------------------------------------
%h1 In Kontakt bleiben
%p
  Wenn Du uns Deine E-Mail hinterlässt, nehmen wir gerne Kontakt mit dir auf oder senden Dir unseren Newsletter zu.

- if h_is_admin?
  = render 'form_admin'
- else
  = render 'form'

