.contact_page
  %h1= @contact.name_text
  %p.sub_header
    = @contact.email
    = link_to image_tag( 'sym/envelope_w100.svg' ), new_contact_message_path( @contact ), remote: true, class: 'sym_button'
    
  
  .hilite_block#new_message
  
  = render 'general/tabs', contact: @contact, active_tab: 'contact'
  
  .contact_details
    = render 'show', contact: @contact
    .action_buttons
      = link_to image_tag( 'sym/pencil_w100.svg' ), edit_contact_path( @contact ), class: 'sym_button', title: 'bearbeiten'
      = link_to image_tag( 'sym/bin_w100.svg' ), @contact, method: :delete, data: { confirm: "Willst Du den Kontakt mit der E-Mail '#{@contact.email}' wirklich löschen?\n\nDie Aktion kann nicht rückgängig gemacht werden." }, class: 'sym_button', title: 'löschen'
      
    
  

