%li{ id: proposal.iid }
  .preview
    = render 'proposals/form', proposal: proposal, cancel_action: link_to( 'Abbrechen', proposal.decision, class: 'button' ), delete_action: link_to( image_tag( 'sym/bin_w100.svg' ), proposal, method: :delete, class: 'sym_button danger', data: { confirm: "Willst du wirklich den Vorschlag '#{proposal.title}' löschen?\n\nDie Aktion kann nicht rückgängig gemacht werden." } )
  

