= form_for [ @proposal.decision, @proposal ], remote: true do |f|
  - if @proposal.errors.any?
    #error_explanation
      %h2= "#{pluralize(@proposal.errors.count, "error")} prohibited this proposal from being saved:"
      %ul
        - @proposal.errors.full_messages.each do |message|
          %li= message
        
      
    
  
  .field
    = f.label :title
    .help
      Beschreibe deinen Vorschlag kurz, den du als Lösung der Frage einbringen möchtest.
      %br
      (max. 250 Zeichen)
    
    = f.text_area :title, rows: 3, maxlength: 250
  
  .actions
    = cancel_action
    = f.submit 'Speichern'
  

