%li{ id: proposal.iid }
  .preview
    - if h_proposal_editable?( proposal )
      .end_aligned
        = link_to image_tag( 'sym/pencil_w100.svg' ), edit_proposal_path( proposal ), remote: true, class: 'sym_button'
      
    
    .title
      .number
        Vorschlag
        %strong= proposal.position
      
      = proposal.title
    
    - if proposal.decision.voting?
      - logger.debug "== start resistance_scale"
      = render 'proposals/resistance_scale', proposal: proposal
    
  

