.voting_section
  .result_scale{ class: h_result_value_class( proposal ), style: "width: #{proposal.votes_value * 10}%;" }
    &nbsp;
    
    .result_tick{ class: h_result_value_class( proposal ) }
      = proposal.votes_value
    
  
  .scale_labels
    .left kein Widerstand
    .right hoher Widerstand
  

