- votable = proposal.decision.votable_by? current_account
- vote = proposal.vote_value_for( current_account )

.voting_section
  %ul.resistance_scale
    - ( 0..9 ).each do |value|
      - if votable
        %li
          = link_to value.to_s, vote_proposal_path( proposal, value: value ), method: :put, remote: true, class: "tick" + h_vote_value_class( vote, value )
        
      - else
        %li
          .tick.inactive{ class: h_vote_value_class( vote, value ) }= value
      
    
  
  .scale_labels
    .left kein Widerstand
    .right hoher Widerstand
  

