%p#notice= notice

%p
  %b Token:
  = @proposal.token
%p
  %b Status:
  = @proposal.status
%p
  %b Account:
  = @proposal.account
%p
  %b Decision:
  = @proposal.decision
%p
  %b Title:
  = @proposal.title
%p
  %b Description:
  = @proposal.description

= link_to 'Edit', edit_proposal_path(@proposal)
\|
= link_to 'Back', proposals_path
