// COLORS --------------------------------------

$green_col: hsl( 120, 70%, 40% );
$light_green_col: hsl( 120, 70%, 80% );
$orange_col: hsl( 40, 100%, 50% );
$grey_col: hsl( 0, 0%, 50% );

// --- SEMANTIC COLORS -------------------------

$paper_col: hsl( 0, 0%, 100% );
$dark_paper_col: darken( $paper_col, 10 );
$text_col: hsl( 0, 0%, 5% );
$light_text_col: hsl( 0, 0%, 50% );

$border_col: darken( $paper_col, 20 );

$akzent_col: hsl( 40, 30%, 40% );
$akzent_back_col: lighten( $akzent_col, 50 );
$link_col: hsl( 220, 100%, 40% );

$line_col: $dark_paper_col;
$back_col: hsl( 0, 0%, 85% );

$danger_col: hsl( 20, 100%, 40% );

$error_col: hsl( 20, 100%, 40% );
$error_back_col: lighten( $error_col, 50 );
$notice_col: hsl( 40, 100%, 50% );
$notice_back_col: lighten( $notice_col, 30 );

$darken_05: desaturate( darken( $paper_col, 3 ), 50 );

