// Place all the styles related to the Newsletters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// --- MEDIA WIDTHS ----------------------------

$more_than_smartphone: 450px;
$text_container_width: 40rem;
$double_smartphone_width: 640px;

$max_page_width: 40rem;
