// ---------------------------------------------

@mixin item_list {
  margin: 1rem 0;
  padding: 0;
  
  list-style: none;
  list-style-position: outside;
  
  li {
    border-top: 1px solid $line_col;
  }
  
  .separator {
    padding: 0.125rem 1.5rem;
    background-color: $akzent_back_col;
    font-style: italic;
  }
  
  .preview {
    position: relative;
    display: block;
    padding: 1rem 1.5rem;
    color: $text_col;
    text-decoration: none;
    @include clearfix;
    
    .status {
      position: absolute;
      top: 2em;
      right: 3em;
      padding: 0.25em 0.75em;
      background-color: $akzent_back_col;
      
      font-size: 0.86em;
      text-transform: uppercase;
      transform: rotate( 30deg );
    }
    
    .next_arrow {
      float: right;
      width: 2rem;
      margin-top: 1rem;
      margin-right: -0.5rem
    }
    
    .date {
      color: $light_text_col;
    }
    
    .title {
      color: $akzent_col;
      @include title_font;
      font-size: 1.19 * 1.19em;
      font-weight: bold;
    }
    
    .status_badge {
      display: inline-block;
      width: auto;
      margin-right: 0.125em;
      padding: 0 0.5rem;
      color: $paper_col;
      background-color: $akzent_col;
      border-radius: 1rem;
      font-weight: bold;
    }
    
    .content,
    .description {
      margin-top: 0.5rem;
      font-style: italic;
    }
    
    .description {
      margin-bottom: 0.75rem;
    }
    
    .infos {
      .number {
        font-size: 1.19 * 1.19em;
      }
    }
  }
}

@mixin item_detail {
  position: relative;
  padding: 1rem 0 2rem;
  
  .status {
    position: absolute;
    top: 1em;
    right: 3em;
    padding: 0.25em 1rem;
    background-color: $akzent_back_col;
    text-transform: uppercase;
    transform: rotate( 30deg );
  }
  
  .title {
    margin-top: 0;
  }
  
  .date {
    padding: 0 1.5rem;
    color: $light_text_col;
  }
  
  .description {
    margin-top: 1rem;
    padding: 0 1.5rem;
    
    font-size: 1.19em;
    font-style: italic;
  }
  
  .author {
    margin: 0;
    padding: 0 1.5rem;
    color: $light_text_col;
  }
  
  .summary_title.blank {
    color: $light_text_col;
    font-style: italic;
  }
}
