@import 'colors';
@import 'item_list';

// MIXINS --------------------------------------

@mixin clearfix {
  &::before, &::after {
    content: "";
    display: table;
  }
  
  &::after {
    clear: both;
  }
}

@mixin image_back {
  background-color: $back_col;
}

@mixin text_font {
  font-family: "DIN", Arial, sans-serif;
  font-size: 100%;
  line-height: 1.4;
}

@mixin title_font {
  font-family: "DIN", Arial, sans-serif;
  line-height: 1.2;
}
