// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'colors';
@import 'constants';
@import 'mixins';

// ---------------------------------------------

.accounts_list {
  @include item_list;
  
  &.admin {
    .accounts_preview {
      .picture {
        float: left;
        max-width: 3.5rem;
        margin-right: 1rem;
      }
      
      .status {
        top: 1.25rem;
        font-size: 0.84 * 0.84em;
      }
      
      .title {
        font-size: 1.19rem;
      }
    }
  }
}
@media ( min-width: $more_than_smartphone ) {
  .accounts_list {
    @include clearfix;
    padding: 0 1.5rem;
    
    &.admin {
      .preview {
        height: unset;
      }
    }
  }
}

.account_preview {
  .picture {
    width: 100%;
    margin-bottom: 0.5rem;
  }
  .title {
    padding: 0.5rem 0 0.25rem;
    line-height: 1.1;
  }
  .label {
    color: $light_text_col;
  }
  .next_arrow {
    margin: 0.75rem -0.5rem 0.5rem 0.5rem;
  }
}
@media ( min-width: $more_than_smartphone ) {
  .account_preview {
    float: left;
    width: 46%;
    height: 27.5rem;
    margin-right: 4%;
    margin-bottom: 2rem;
    padding: 0;
    border: none;
    overflow: hidden;
    
    .picture {
      margin-bottom: 0.5rem;
      padding: 0;
    }
  }
}

.status_bar {
  padding: 0 1.5rem;
  
  .badge {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    padding-top: 0.25rem;
    
    color: $paper_col;
    background-color: $akzent_col;
    border-radius: 2rem;
    
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
  }
}

.account_details {
  @include clearfix;
  position: relative;
  
  .picture {
    width: 100%;
  }
  
  .status {
    position: absolute;
    top: 1.5rem;
    left: auto;
    right: 1.5rem;
  }
  
  .label,
  .description {
    margin: 1rem 0;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  .label {
    margin-top: 0;
    color: $light_text_col;
    font-size: 1.19rem;
    font-weight: bold;
  }
  .description {
    margin-bottom: 2rem;
  }
}
@media ( min-width: $more_than_smartphone ) {
  .account_details {
    .picture {
      float: left;
      width: 45%;
      margin: 1rem 1rem 0.5rem 1.5rem;
      padding: 0;
    }
  }
}

#page .account_details h1 {
  margin-bottom: 0.25rem;
}

.tab_view {
  .account_details {
    .picture {
      margin: 1rem 0;
      padding: 0rem 1.5rem;
    }
    
    .status {
      top: 2rem;
      background-color: $paper_col;
    }
  }
}
@media ( min-width: $more_than_smartphone ) {
  .tab_view {
    .account_details {
      .picture {
        margin: 1rem 1rem 1rem 1.5rem;
        padding: 0;
      }
    }
  }
}

