// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'colors';
@import 'constants';
@import 'mixins';

// ---------------------------------------------

.page_articles_index {
}
@media ( min-width: $more_than_smartphone ) {
  .page_articles_index {
    #body {
      max-width: 50rem;
      
      h1 {
        margin-left: 37%;
        padding-left: 0.25rem;
      }
    }
  }
}

.articles_teaser {
  margin: 1rem 0;
  padding: 0.5rem 0 1.5rem;
  background-color: $akzent_back_col;
  
  h2 {
    margin: 0.5rem 0 1rem;
    padding: 0 1.5rem;
    font-size: 1rem;
    
    .link {
      float: right;
      width: auto;
      font-weight: normal;
    }
  }
  
  .preview {
    color: $text_col;
    text-decoration: none;
    
    .picture {
      width: 100%;
    }
    .title {
      padding: 1rem 1.5rem 0.25rem;
      line-height: 1.1;
      
      color: $akzent_col;
      font-size: 1.19 * 1.19rem;
      font-weight: bold;
      
    }
    .date {
      padding: 0 1.5rem;
      color: $light_text_col;
    }
    .next_arrow {
      float: right;
      width: 2rem;
      margin: 0.75rem 1rem 0.5rem 0.5rem;
    }
    .description {
      margin-top: 0.5rem;
      padding: 0 1.5rem;
    }
  }
}
@media ( min-width: $more_than_smartphone ) {
  .articles_teaser {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
}
@media ( min-width: 1000px ) {
  .articles_teaser {
    float: left;
    width: 25rem;
    margin: 2rem 2rem 2rem -6rem;
  }
}

.articles_list {
  @include item_list;
  
  .preview {
    border-top: 1px solid $line_col;
    
    .picture {
      width: 100%;
    }
    .title {
      padding: 0.5rem 0 0.25rem;
      line-height: 1.1;
    }
    .next_arrow {
      margin: 0.75rem -0.5rem 0.5rem 0.5rem;
    }
  }
  
}
@media ( min-width: $more_than_smartphone ) {
  .articles_list {
    .preview {
      border-top: none;
      padding: 1.5rem;
      text-align: right;
      
      .picture {
        float: right;
        width: 63%;
        padding: 0;
        margin: 0 0 0.75rem 1rem;
      }
      .title {
        padding-top: 0;
      }
      .date {
      }
      .next_arrow {
        display: none;
      }
      .description {
        clear: both;
        margin-left: 37%;
        text-align: justify;
      }
    }
  }
}

.article_detail {
  @include item_detail;
  
  .status {
    top: 4rem;
  }
  h1.title {
    margin-top: 0.5rem;
  }
}
