// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'colors';
@import 'constants';
@import 'mixins';

// ---------------------------------------------

$caption_bgcol: #047;
$label_col: $light_text_col;
$edit_bgcol: $dark_paper_col;

// ---------------------------------------------

.contentpart {
  margin: 1rem 0;
  overflow-x: hidden;
  
  &.picture {
    padding-left: 0;
    padding-right: 0;
  }
  
  &.file {
    padding: 0rem 1.5rem;
    
    a {
      display: block;
      text-decoration: none;
      
      .pdf_icon {
        float: left;
        width: 5rem;
        margin: 0 0.5rem 1rem -0.5rem;
      }
      .file_info {
        overflow: hidden;
        
        .name {
          overflow: hidden;
          text-decoration: underline;
          text-overflow: ellipsis;
        }
        .info {
          overflow: hidden;
          color: $text_col;
          text-decoration: none;
          text-overflow: ellipsis;
        }
        .description {
          margin: 0;
          padding: 0;
          color: $text_col;
          font-size: 1em
        }
      }
    }
  }
}
@media ( min-width: $more_than_smartphone ) {
  .contentpart {
    &.picture {
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }
  }
}

.edit_contentpart {
  margin: 1rem 0;
  padding: 1rem 1.5rem;
  background-color: $edit_bgcol;
  border: none;
  
  label {
    color: $label_col;
  }
  textarea {
    padding: 0 0 0.25rem;
  }
}
