// Place all the styles related to the Decisions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'colors';
@import 'constants';
@import 'mixins';

// ---------------------------------------------

$proposing_col: darken( $orange_col, 10 );
$voting_col: $green_col;
$done_col: $grey_col;

// ---------------------------------------------

.decisions_list {
  @include item_list;
  
  .preview {
    padding-bottom: 0.75rem;
    border-top: 1px solid $line_col;
    
    .title {
      margin-top: 0.5rem;
    }
    
    .status_badge {
      &.proposing {
        background-color: $proposing_col;
      }
      &.voting {
        background-color: $voting_col;
      }
      &.done {
        background-color: $done_col;
      }
    }
    
    .description {
      margin-bottom: 0.25rem;
    }
    
    .infos {
      .number {
        &.proposals {
          color: $proposing_col;
        }
        &.votes {
          color: $voting_col;
        }
      }
    }
  }
}

.decision_detail {
  @include item_detail;
  padding: 0;
  
  .description {
    margin: 1rem 0;
  }
}

.proposals_section {
  .list_title {
    margin: 1rem 0;
    padding: 0 1.5rem;
  }
}

.result_section {
  margin: 1rem 0 0;
  
  header {
    @include clearfix;
    padding: 0.5rem 1.5rem;
    font-weight: bold;
    background-color: $akzent_back_col;
    
    .end_side {
      float: right;
      width: auto;
    }
  }
  
  .list_title {
    background-color: transparent;
  }
}
