// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'colors';
@import 'constants';
@import 'mixins';

// ---------------------------------------------

$date_col: $text_col;

// ---------------------------------------------

.events_list {
  @include item_list;
  
  .preview {
    padding-bottom: 0;
    border-top: 1px solid $line_col;
    
    .date {
      color: $date_col;
      font-weight: bold;
      
      span {
        white-space: nowrap;
      }
    }
    .title {
      margin-bottom: 0.5rem;
      color: $text_col;
      font-size: 1.19 * 1.19em;
      font-weight: normal;
    }
    .description,
    .location,
    .details,
    .link {
      margin: 0.5rem 0;
    }
  }
  
  
  .link {
    padding: 0 1.5rem;
  }
  .preview + .link {
    margin-top: 0;
    padding-bottom: 1rem;
  }
}

.events_teaser {
  margin: 1rem 0;
  padding: 0.5rem 0;
  background-color: $akzent_back_col;
  
  h2 {
    margin: 0.5rem 0 0;
    padding: 0 1.5rem;
    font-size: 1rem;
    
    .link {
      float: right;
      width: auto;
      font-weight: normal;
    }
  }
  
  .event_entry {
    padding: 1rem 1.5rem;
    
    .time {
      font-size: 1.19 * 1.19rem;
    }
    .title {
      margin-bottom: 0;
      font-weight: bold;
    }
  }
}
@media ( min-width: $more_than_smartphone ) {
  .events_teaser {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
}
@media ( min-width: 1000px ) {
  .events_teaser {
    float: right;
    width: 25rem;
    margin: 2rem -6rem 2rem 0;
  }
}

.event_detail {
  @include item_detail;
  
  .date {
    color: $text_col;
    font-size: 1.19em;
    font-weight: bold;
    
    span {
      white-space: nowrap;
    }
  }
  
  .location,
  .link,
  .details {
    margin: 1rem 0;
    padding: 0 1.5rem;
  }
  
  .location {
    font-weight: bold;
  }
}