@import 'colors';
@import 'constants';
@import 'mixins';

// ---------------------------------------------

$flash_outer_back_color: hsla( 0, 0%, 0%, 0.4 );

// ---------------------------------------------

#flash_layer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $flash_outer_back_color;
  opacity: 0.4;
  z-index: 100;
  
  &.away {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease-in, visibility linear 0.55s;
  }
}

#flash {
  position: relative;
  margin-top: 0;
  padding: 0 1.5rem;
  overflow: hidden;
  
  &.up {
    visibility: hidden;
    transition: margin-top 0.5s ease-in, visibility linear 0.55s;
  }
  
  .alert, .notice {
    padding: 1rem 1.5rem;
    border: 2px solid;
    border-bottom-left-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
    border-top: none;
    
    text-align: center;
    font-weight: bold;
  }
  .alert {
    background-color: $error_back_col;
    border-color: $error_col;
  }
  .notice {
    background-color: $notice_back_col;
    border-color: $notice_col;
  }
}
@media (min-width: $more_than_smartphone) {
  #flash {
  }
}