@import 'colors';
@import 'constants';
@import 'mixins';
@import 'fonts';

// ---------------------------------------------

h1, h2, h3, h4, h5 {
  color: $akzent_col;
  @include title_font;
}
h1 {
  line-height: 1.0;
}
h2 {
  line-height: 1.1;
}
h4 {
  margin-bottom: 0;
}
h4 + p {
  margin-top: 0.25rem;
}

p {
  &:last-child {
    margin-bottom: 1.5em;
  }
  &.list_title {
    margin-bottom: 0;
  }
}

strong {
  font-weight: bold;
}
em {
  font-style: italic;
}

a {
  color: $link_col;
}

ul {
  list-style: disc outside;
  margin: 0;
  padding: 0 1.5rem 0 3rem;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  
  color: $text_col;
  @include image_back;
  
  @include text_font;
}

.hint_text {
  color: $light_text_col;
}