@import 'colors';
@import 'constants';
@import 'mixins';

// ---------------------------------------------

$footer_col: $light_text_col;

// ---------------------------------------------

footer {
  padding: 1rem 0;
  color: $footer_col;
  box-shadow: inset 0px 12px 8px -8px rgba( 0,0,0,0.1 );
  
  p {
    margin: 0;
    padding: 0 1.5rem;
  }
}
@media ( min-width: $more_than_smartphone ) {
  footer {
    p {
      max-width: $max_page_width;
      margin: 0 auto;
      padding: 0 1.5rem;
    }
  }
}
