@import 'colors';
@import 'constants';
@import 'mixins';

// ---------------------------------------------

$menu_bgcol: $back_col;
$submenu_bgcol: lighten( $menu_bgcol, 10 );

// ---------------------------------------------

#header {
  background-color: $menu_bgcol;
}
@media (min-width: $more_than_smartphone) {
  #header {
    position: fixed;
    width: 100%;
    z-index: 5;
  }
}

#logo {
  position: relative;
  padding: 0.75rem 1.5rem 0.5rem;
  z-index: 20;
  
  &.active {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  a {
    display: inline-block;
    
    color: $text_col;
    font-size: 1.75rem;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    
    .top_logo {
      height: 2.5rem;
    }
  }
  
  .menu_button {
    position: fixed;
    right: 0.75rem;
    top: 0.75rem;
    width: 2rem;
    height: 2rem;
    padding: 0.5rem;
    z-index: 30;
    
    background-color: white;
    border-radius: 3rem;
    box-shadow: 0px 1px 8px 0px rgba( 0, 0, 0, 0.2 );
    
    font-size: 1rem;
    
    img {
      height: 100%;
      vertical-align: top;
    }
  }
}
@media (min-width: $more_than_smartphone) {
  #logo {
    position: relative;
    padding-bottom: 0;
    
    text-align: center;
    
    a {
      font-size: 2rem;
    }
    
    .menu_button {
      display: none;
    }
  }
}

#menu {
  display: none;
  position: fixed;
  top: 0;
  width: 100%;
  padding-top: 4rem;
  z-index: 10;
  
  background-color: $menu_bgcol;
  box-shadow: 0px 1px 8px 0px rgba( 0, 0, 0, 0.5 );
  
  &.active {
    display: block;
  }
  
  ul.nav {
    display: inline-block;
    list-style: none;
    margin: 0 auto;
    padding: 0 1.5rem 0.5rem;
    
    li {
      position: relative;
      float: left;
      margin: 0;
      margin-right: 1.5rem;
      margin-bottom: 0.5rem;
      
      a {
        display: block;
        padding: 0.5rem 0 0;
        color: $link_col;
        border-bottom: 3px solid transparent;
        
        font-weight: bold;
        text-decoration: none;
        white-space: nowrap;
        
        &:hover {
          border-bottom: 3px solid;
        }
        
        &.sym_link {
          img {
            margin-top: 0.25rem;
            display: block;
            height: 1rem;
          }
        }
      }
      &.selected > a,
      &.active > a {
        border-bottom: 3px solid;
      }
      &.dangerous > a {
        color: $danger_col;
      }
      
      ul {
        position: absolute;
        display: none;
        padding: 0.5rem 0.5rem 0.5rem;
        background-color: $submenu_bgcol;
        box-shadow: 0px 2px 4px 0px rgba( 0,0,0,0.2 );
        z-index: 10;
      }
      &:hover ul.nav {
        display: block;
      }
    }
  }
}
@media (min-width: $more_than_smartphone) {
  #menu {
    display: block;
    position: relative;
    padding-top: 0;
    
    
    box-shadow: inset 0px -12px 8px -8px rgba( 0,0,0,0.1 );
    
    text-align: center;
    
    ul.nav {
      text-align: left;
    }
  }
}
