@import 'colors';
@import 'constants';
@import 'mixins';

// ---------------------------------------------

$menu_bgcol: $dark_paper_col;
$main_bgcol: $paper_col;

$max_page_width: 40rem;
$max_body_width: 37rem;

// ---------------------------------------------

main {
  padding: 0;
  background-color: $main_bgcol;
  overflow-x: hidden;
}
@media (min-width: $more_than_smartphone) {
  main {
    padding: 6.8rem 0 2rem;
  }
}

#page {
  @include clearfix;
  
  h1 {
    margin: 1rem auto;
  }
}

h1, h2, h3, h4, h5, h6, p {
  padding: 0 1.5rem;
}
@media (min-width: $more_than_smartphone) {
  #body {
    margin: 3rem auto 0;
    max-width: $max_page_width;
  }
  #side_body {
    display: none;
  }
}
