// Place all the styles related to the Newsletters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'colors';
@import 'constants';
@import 'mixins';

// ---------------------------------------------

.letters_list {
  padding: 0 1.5rem;
  list-style: none outside;
  
  li {
    display: inline-block;
    margin-right: 0.5rem;
    
    a {
      font-size: 1.19em;
      font-weight: bold;
      text-decoration: none;
    }
  }
}

