// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'colors';
@import 'constants';
@import 'mixins';

// ---------------------------------------------

.pages_list {
  @include item_list;
  
  .preview.example {
    opacity: 0.5;
  }
  
  .menu {
    color: $akzent_col;
    font-weight: bold;
  }
  
  .sub_pages_list {
    list-style: none outside;
    padding: 0;
    padding-left: 2rem;
    
    li {
      border-left: 3px solid $line_col;
      
    }
  }
}

.page_detail {
  @include item_detail;
  
  .status {
    top: 4rem;
  }
  h1.title {
    margin-top: 0.5rem;
  }
}
