// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'colors';
@import 'constants';
@import 'mixins';

// ---------------------------------------------

.payments_list {
  @include item_list;
  
  .payment_detail {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    
    .token {
      float: left;
      width: 3rem;
      margin-right: 1rem;
    }
    
    .name {
      float: left;
      width: auto;
      margin-right: 1rem;
      font-weight: bold;
    }
    
    .amount {
      float: right;
      width: auto;
    }
  }
}
