// Place all the styles related to the Decisions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'colors';
@import 'constants';
@import 'mixins';

// ---------------------------------------------

$card_list_back_col: $akzent_back_col;

// ---------------------------------------------

.proposals_list {
  @include item_list;
  margin: 0;
  background-color: $card_list_back_col;
  border-top: darken( $akzent_back_col, 15 ) 1px solid;
  
  li {
    padding: 0 0.5rem 0.5rem;
    
    &:first-child {
      padding-top: 0.5rem;
    }
  }
  
  .preview {
    padding: 1rem;
    background-color: $paper_col;
    border-radius: 0.5rem;
    
    .title {
      font-size: 1.19rem;
      line-height: 1.2;
      
      .number {
        @include text_font;
        color: $text_col;
        font-size: 0.86 * 0.86em;
        margin-bottom: 0.25em;
      }
    }
    
    .voting_section {
      margin-top: 1rem;
    }
    
    form {
      margin: 0;
      padding: 0;
      border: 0;
    }
  }
}

.proposal_form_block {
  padding: 0.5rem 0.5rem 1.5rem;
  background-color: $card_list_back_col;
  
  .proposal_button {
    display: block;
    color: $light_text_col;
    text-align: center;
    text-decoration: none;
    
    .round {
      width: 4rem;
      height: 4rem;
      padding: 0.25rem;
      border-radius: 2rem;
      
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
  
  .new_proposal {
    margin: 0 0 0.5rem;
    border-style: dotted;
    border-width: 3px;
    border-radius: 0.5rem;
  }
}

.proposal_detail {
  @include item_detail;
  padding-bottom: 1rem;
  
  .title {
    padding: 0 1.5rem;
    color: $akzent_col;
    font-size: 2rem;
    font-weight: bold;
    line-height: 1.1;
  }
  
  .result {
    margin: 1rem 0;
    padding: 0 1.5rem;
    font-size: 1.19rem;
    
    strong {
      font-size: 1.19em;
    }
  }
}
