// Place all the styles related to the Decisions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'colors';
@import 'constants';
@import 'mixins';

// ---------------------------------------------

$scale_1_col: hsl( 150, 100%, 35% );
$scale_2_col: hsl( 80, 100%, 35% );
$scale_3_col: hsl( 60, 100%, 40% );
$scale_4_col: hsl( 40, 100%, 40% );
$scale_5_col: hsl( 0, 100%, 40% );

// ---------------------------------------------

.voting_section {
  .scale_labels {
    @include clearfix;
    color: $light_text_col;
    text-align: center;
    
    .left {
      float: left;
      width: auto;
    }
    .right {
      float: right;
      width: auto
    }
  }
  
  .result_scale {
    position: relative;
    display: inline-block;
    margin: 0.5rem 0 1rem;
    padding: 0;
    height: 1rem;
    background-color: $akzent_col;
    border-radius: 1rem;
    
    &.a1 {
      background-color: $scale_1_col;
    }
    &.a2 {
      background-color: $scale_2_col;
    }
    &.a3 {
      background-color: $scale_3_col;
    }
    &.a4 {
      background-color: $scale_4_col;
    }
    &.a5 {
      background-color: $scale_5_col;
    }
  }
  
  .result_tick {
    position: absolute;
    top: -0.75rem;
    right: -0.75rem;
    width: 2.5rem;
    height: 2.5rem;
    padding: 0.6rem 0 0;
    color: $paper_col;
    border-radius: 3rem;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    
    &.a1 {
      background-color: $scale_1_col;
    }
    &.a2 {
      background-color: $scale_2_col;
    }
    &.a3 {
      background-color: $scale_3_col;
    }
    &.a4 {
      background-color: $scale_4_col;
    }
    &.a5 {
      background-color: $scale_5_col;
    }
  }
}