// Place all the styles related to the Newsletters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'colors';
@import 'constants';
@import 'mixins';

// ---------------------------------------------

$border_col: darken( $akzent_back_col, 10 );

// ---------------------------------------------

.tabs_block {
  @include clearfix;
  list-style: none outside;
  padding: 0 1.5rem;
  border-bottom: 1px solid $border_col;
  white-space: nowrap;
  
  .tab {
    display: inline-block;
    padding: 0.25em 0.75em 0.25em;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
    overflow: hidden;
    text-overflow: ellipsis;
    
    &.active {
      margin-bottom: -1px;
      background-color: $akzent_back_col;
      border: 1px solid $border_col;
      border-bottom-color: $akzent_back_col;
      text-decoration: none;
      z-index: 10;
    }
  }
}

.tab_view {
  @include clearfix;
  background-color: $akzent_back_col;
}
