// Place all the styles related to the Newsletters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'colors';
@import 'constants';
@import 'mixins';

// ---------------------------------------------

$button_col: $paper_col;
$button_bgcol: $link_col;
$danger_col: hsl( 10, 100%, 40% );

$badge_col: $paper_col;
$badge_bgcol: $akzent_col;
$application_bgcol: $light_green_col;
$membership_bgcol: $green_col;
$help_bgcol: $orange_col;

$caption_bgcol: $dark_paper_col;


// ---------------------------------------------

.initially_hidden {
  display: none;
}

.end_aligned {
  float: right;
  width: auto;
  margin-left: 1rem;
}

// ---------------------------------------------

.hilite_block {
  @include clearfix;
  background-color: $akzent_back_col;
}

// ---------------------------------------------

.remote_form {
  @include clearfix;
  margin: 1rem 0;
  background-color: $akzent_back_col;
  
  .notice {
    padding: 1rem 1.5rem;
  }
}

// ---------------------------------------------

.action_buttons {
  margin: 1rem 0;
  padding: 0 1.5rem;
  
  .hint_text {
    display: inline-block;
    margin-left: 0.5rem;
  }
}

.button,
.sym_button {
  margin-top: 0.25em;
  
  &.danger {
    background-color: $danger_col;
  }
}

.button {
  display: inline-block;
  height: 2rem;
  padding: 0.35rem 0.5rem;
  border-radius: 0.25rem;
  color: $button_col;
  background-color: $button_bgcol;
  
  font-size: 1em;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  
  vertical-align: baseline;
  
  & > .button {
    margin-left: 0.25rem;
  }
  
  & + .button,
  & + .sym_button {
    margin-left: 0.5rem;
  }
}

.sym_button {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  margin-right: 0.25rem;
  padding: 0.25rem;
  background-color: $button_bgcol;
  border-radius: 0.25rem;
  
  text-align: center;
  vertical-align: bottom;
  
  img {
    vertical-align: middle;
  }
  
  &.small {
    width: 1.75rem;
    height: 1.75rem;
  }
}

// ---------------------------------------------

.internal_actions {
  @include clearfix;
  float: none;
  clear: both;
  margin-top: 1rem;
  padding: 1rem 0 1rem;
  background-color: $akzent_back_col;
  
  .block_label {
    color: desaturate( darken( $akzent_back_col, 40 ), 60 );
    margin-bottom: 0.5em;
    padding: 0 1.5rem;
    color: desaturate( darken( $akzent_back_col, 40 ), 60 );
    font-size: 0.84rem;
    font-style: italic;
    text-transform: uppercase;
  }
  
  .help_text {
    margin: 0.5em 0 1em;
    padding: 0 1.5rem;
    color: desaturate( darken( $akzent_back_col, 40 ), 60 );
    font-size: 0.84em;
  }
}

// ---------------------------------------------

.sub_header {
  font-size: 1.19rem;
  font-weight: bold;
}
h1 + .sub_header {
  margin-top: -0.5rem;
}

.subtitle {
  font-size: 0.59em;
}

.help_text {
  color: $light_text_col;
  font-style: italic;
}

.badge {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  margin: 0 0.5rem;
  padding-top: 0.05rem;
  color: $badge_col;
  background-color: $badge_bgcol;
  border-radius: 1.5rem;
  
  text-align: center;
  font-weight: bold;
  
  &:first-child {
    margin-left: 0;
  }
  &:last-child {
    margin-right: 0;
  }
  
  &.inactive {
    opacity: 0.5;
  }
  
  &.membership {
    color: $text_col;
    background-color: $application_bgcol;
    
    &.accepted,
    &.member {
      color: $paper_col;
      background-color: $membership_bgcol;
    }
  }
  
  &.offers_help {
    background-color: $help_bgcol;
  }
}

.status {
  position: absolute;
  top: 2em;
  right: 3em;
  padding: 0.25em 0.75em;
  background-color: $akzent_back_col;
  
  font-size: 0.86em;
  text-transform: uppercase;
  transform: rotate( 30deg );
}

.list_title {
  margin: 1rem 0 0;
  padding: 0 1.5rem;
  font-weight: bold;
}

.info_list {
  margin: 0rem 0 1rem;
  padding: 0 1.5rem;
  padding-left: 3rem;
  list-style: square outside;
}

.picture {
  overflow-x: hidden;
  
  img {
    width: 100%;
    background-color: $caption_bgcol;
  }
  
  .caption {
    padding: 0.75rem 1.5rem 1rem;
    background-color: $caption_bgcol;
  }
}
@media ( min-width: $more_than_smartphone ) {
  .picture {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    
    .caption {
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }
}
