.anrede
  Willkommen,
  = @contact.name_text

%p
  Du hast Dich vor kurzem für den
  %strong Newsletter
  angemeldet.

%p
  Um dies zu bestätigen,
  %strong klicke bitte
  folgenden Link:
  %br
  = link_to @confirmation_link, @confirmation_link

%p
  Vielen Dank und herzliche Grüsse,
  %br
  Team Organisator

