Willkommen, <%= @contact.name_text %>

Du hast Dich vor kurzem für den Newsletter angemeldet.

Um dies zu bestätigen, klicke bitte folgenden Link:
<%= @confirmation_link %>

Vielen Dank und herzliche Grüsse,
Team Organisator
