= render 'newsletters/newsletter_salutation_teaser', newsletter: @newsletter, name_text: @name_text

.newsletter_content
  = render @newsletter.contentparts

%br
= render 'articles/list_preview_mail', newsletter: @newsletter

= render 'events/list_preview_mail', newsletter: @newsletter

= render 'newsletters/newsletter_storno', storno_url: @storno_url
