Willkommen, <%= @contact.name_text %>

Du hast Dich vor kurzem für den Termin
<%= @event.title %>
am <%= @event.starts_at_text %> angemeldet.

Um dies zu bestätigen, klicke bitte folgenden Link:
<%= @confirmation_link %>

Vielen Dank und herzliche Grüsse,
Team Organisator
