%footer{ role: "contentinfo"}
  %p
    = "© #{Time.zone.now.year}"
    Organisator. Alle Rechte vorbehalten
    |
    = link_to 'Impressum', impressum_path
    |
    = link_to 'Datenschutz', datenschutz_path
    |
    Website bereitgestellt durch
    = link_to 'organisator', 'https://gitlab.com/magnusmunter/organisator'
  

