%header#header{ role: "banner" }
  #logo{ itemscope: "itemscope", itemtype: "http://schema.org/Organization" }
    = link_to root_url, itemprop: "url" do
      %span.top_logo Organisator
    
    = link_to image_tag( "sym/menu_w100.svg" ), '#menu', class: "menu_button", data: { sel: '#menu' }
  
  #menu{ class: 'menu clearfix', role: "navigation" }
    %ul.nav
      - @pages.each do |page|
        - unless page.menu.blank?
          %li
            = link_to page.menu, "/#{page.path}"
            
            - unless page.pages.published.blank?
              %ul.nav
                - page.pages.published.each do |p|
                  %li= link_to p.menu, "/#{p.path}"
                
              
            
          
        
      
      - if h_is_team_or_member?
        %li.dangerous
          = link_to current_account.status_text, '#'
          
          %ul.nav
            - if current_account.is_admin?
              %li= link_to 'Seiten', pages_path
            
            %li= link_to 'Artikel', articles_path
            %li= link_to 'Termine', events_path
            %li= link_to 'Entscheidungen', decisions_path
            
            - if current_account.is_editor?
              %li= link_to 'Newsletter', newsletters_path
            
            - if current_account.is_admin?
              %li= link_to 'Kontakte', contacts_path
              %li= link_to 'Mitgliedschaften', memberships_path
              %li= link_to 'Accounts', admin_accounts_path
              %li= link_to 'Zahlungen', admin_payments_path
              
            
          
        
      
      - if current_account.blank?
        %li= link_to 'Login', login_path
        
      - else
        %li= link_to 'Ich', current_account
      
      %li= link_to image_tag( 'sym/lens_akz100.svg' ), search_path, class: 'sym_link'
    
  

