/* Email styles need to be inline */

body {
  margin: 0;
  padding: 0;
  color: #1a0004;
  
  font-family: 'HelveticaNeue', Arial, sans-serif;
  font-size: 100%;
}
@media (min-width: 480px) {
  body {
    font-size: 120%;
  }
}

.header {
  padding: 1rem;
  color: #0d0d0d;
  background-color: #e6e6e6;
  
  text-align: center;
  
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
}

.main_newsletter {
  max-width: 40rem;
  margin: 0 auto;
  padding: 2rem 1rem;
}

/* Tags in the main newsletter content */
.main_newsletter h2 {
  margin: 1rem 0;
  color: #857047;
  font-size: 1.69em;
}
.main_newsletter h3 {
  margin: 1rem 0;
  color: #857047;
  font-size: 1.42em;
}
.main_newsletter h4 {
  margin: 1rem 0 0.5rem;
  color: #857047;
  font-size: 1.19em;
}
.main_newsletter p {
  margin: 0.75rem 0;
}
.main_newsletter a {
  color: #04c;
}
.main_newsletter strong {
  color: #555;
}

/* classes for newsletter structure */

.main_newsletter .salutation {
  margin: 1rem 0;
  font-size: 1.19em;
}

.main_newsletter .contentpart {
  margin: 1rem 0;
  overflow-x: hidden;
}

.main_newsletter .picture img {
  width: 100%;
  vertical-align: middle;
}
.main_newsletter .picture .caption {
  padding: 0.75rem 1rem 1rem;
  background-color: #e6e6e6;
}

.main_newsletter .label {
  padding: 0.25rem 0;
  color: #aaa;
  border-bottom: 1px solid #aaa;
  text-transform: uppercase;
}

.main_newsletter .preview {
  display: block;
  clear: both;
  margin: 1.5rem 0;
  color: #333;
  text-decoration: none;
}

.main_newsletter .preview .picture {
  float: left;
  max-width: 35%;
  margin: 0 1rem 1rem 0;
}

.main_newsletter .preview .title {
  margin-bottom: 0.75rem;
  font-size: 1.42em;
}

.main_newsletter .preview .more {
  margin-top: 0.5rem;
  color: #04c;
}

.main_newsletter .new_events .preview .time {
  font-weight: bold;
}

.main_newsletter .new_articles .preview .date {
  color: #777;
}
.main_newsletter .new_articles .preview .title {
  color: #857047;
  font-weight: bold;
}

/* admin part on the bottom of newsletter */

.main_newsletter .admin {
  margin-top: 2rem;
  padding-top: 1rem;
  border-top: 1px solid #aaa;
  
  color: #777;
}

.footer {
  max-width: 40rem;
  margin: 0 auto;
  padding: 1rem;  
  
  border-top: 2px solid #aaa;
  color: #aaa;
}
