= link_to account, class: 'preview account_preview', id: account.token do
  - if account.has_picture?
    = image_tag account.picture_preview, class: 'picture'
  - else
    = image_tag 'default_user.jpg', class: 'picture'
  
  - unless account.published?
    .status= account.status
  
  .next_arrow
    = image_tag 'sym/angle_right_s25.svg'
  
  .title= account.displayname
  .label= account.label
  .description= truncate account.description, length: 150
  

