- if account == current_account
  %h4 Deine nicht öffentlichen Profil Daten
- else
  %h4 Nicht öffentliche Account Daten

%p
  Login:
  %strong= @account.login

.status_bar
  - if h_is_user?
    .badge{ title: 'hat einen Account' } A
  
  - if h_is_team_member?
    .badge{ title: 'ist Teil des Teams' } T
  - else
    .badge.inactive{ title: 'noch kein Teil des Teams' } T
  
  - if h_is_editor?
    .badge{ title: 'ist Website Editor' } E
  
  - if h_is_admin?
    .badge{ title: 'ist Website Admin' } S
  

