- h_title 'Neuen Account registrieren'
- h_description 'Hier kannst Du Dir einen neuen Account für unsere Website registrieren.'
- # --------------------------------------------

%p.form_explanation
  Um einen neuen Account anzulegen, gib bitte Deine E-Mail Adresse an. Wir
  %strong senden Dir dorthin einen Link
  zur Bestätigung.

= form_tag do
  .field
    = label_tag :email
    = text_field_tag :email, params[ :email ], placeholder: 'z.B. lisa.muster@organisator.org', autofocus: true
  
  .actions.clearfix
    = submit_tag 'Anlegen', |
          class: 'button'
    
  

