- h_title 'Unser Team'
- h_description( h_page_description_for 'accounts' )

%h1 Unser Team
%p
  Hier erfährst du mehr über die Menschen hinter
  %strong organisator.

- if h_is_editor?
  %p
    = link_to 'Neues Teammitglied...', new_account_path
  

%ul.accounts_list
  - @accounts.each do |account|
    %li= render 'preview', account: account
  

