- h_page_title "#{@account.contact.name_text} im Team Organisator"
- h_description truncate( strip_tags( @account.description ), length: 250 )
- if @account.has_picture?
  - h_image full_url_for( @account.picture_preview )

- # --------------------------------------------

.account_details
  - if @account.has_picture?
    = image_tag @account.picture_preview, class: 'picture'
  - else
    = image_tag 'default_user.jpg', class: 'picture'
  
  %h1= @account.displayname
  .label= @account.label
  - if h_is_admin?
    .status= @account.status
  
  .description= h_format @account.description
  
  - if h_account_editable? @account
    .internal_actions
      .block_label Nur für dich sichtbar
      .help_text
        Oben im weissen Bereich siehst du deine persönliche Profil Seite.
        - if h_is_team_member?
          Du bist Teil des Teams und damit ist diese Seite öffentlich sichtbar.
        - else
          Wenn das Team dich akzeptiert und freigeschaltet hat, ist sie öffentlich sichtbar. Kontaktiere deine Ansprechperson, wenn du ins Team möchtest.
        
      
      .action_buttons
        = button_to 'Abmelden', logout_path, method: :delete, class: 'danger'
        
      
      %hr
      = render 'show', account: @account
      %p
        = link_to 'Bearbeiten', edit_account_path( @account ), class: 'button'
      
      %hr
      = render 'contacts/show', contact: @account.contact
      %p
        = link_to 'Bearbeiten', edit_contact_path( @account.contact ), class: 'button'
      
      %hr
      - unless @account.contact.membership
        %h4 Weitermachen?
        - if @account.is_team_member?
          %p
            Im Augenblick bist du Team-Mitglied.
          
        - else
          %p
            Im Augenblick bist du Interessent:in.
          
        
        %p
          Wenn du dich noch mehr einbringen möchtest, kannst du auch eine Mitgliedschaft bei Organisation beantragen.
          %br
          = link_to 'zum Mitgliedsantrag', new_membership_path
        
      - else
        %h4 Mitgliedschaft
        %p
          Du bist bei uns Mitglied und das freut uns. Danke!
        
      
    
  

